@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Lato;
    font-style: normal;
}

.center {
    padding-right: calc(50% - 1140px/2);
    padding-left: calc(50% - 1140px/2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #222;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;

}

.header_left {
    display: flex;
    align-items: flex-end;
    gap: 41px;
}

.header svg:hover path{
    fill: #F16D7F;
}

.brand {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    display: flex;
    align-items: center;
    background-color: #F1E4E6;
}

.brand_img {
    width: 50%;
}

.brand_heading {
    display: inline-block;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-bottom: 90px;
}

.heading_h1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.heading_h2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.color_pink {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.category {
    padding-top: 65px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.category_card {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*background: rgba(33, 22, 22, 0.70);*/
}
.category_card:hover {
    box-shadow: 1px 1px 5px rgb(50, 49, 49);
    transform: scale(1.03);
}

.big_card {
    grid-column: 1/4;
    min-height:111px;
}

.category_card_img {
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: -1;
    object-fit: cover;
    
}

.category_card_heading {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetured_items {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.fetured_items_heading {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetured_items_text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.catalog_item {
    display: flex;
    flex-direction: column;
}

.catalog_item_img {
    width: 100%;
    position: relative;
}

.catalog_item_img:hover .catalog_item_hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}
.catalog_item_hover {
    background: rgba(58, 56, 56, 0.86);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    display: none;
}

.hover_button {
    background: transparent; 
    display: flex;
    gap: 11px;
    align-items: center;
    padding: 14px 16px;
    border: 1px solid #FFFFFF;
}
.hover_button:hover {
    box-shadow: 1px 1px #FFFFFF;
}

.hover_button_text {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog_item_information {
    padding: 24px 16px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-direction: column;
    gap: 16px;
}

.information_heading {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.information_text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.information_price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_browse {
    display: block;
    margin: 48px auto 65px auto;
    padding: 14px 39px;
    border: 1px solid #F16D7F;
    background: #FFF;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.button_browse:hover {
    color: #FFF;
    background: #F16D7F;
}
.additional_information{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-top: 103px;
    padding-bottom: 104px;
    margin-top: 95px;
    background-color: #222224;
}
.element{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.element_heading {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.element_text {
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.subscription {
    background: rgba(244, 244, 244, 0.70); 
    background-image: url("../img/Layer41.png"); 
    background-blend-mode: overlay;
    background-size: cover; 
    position: relative;
    display: flex;
    justify-content: center; 
    gap: 223px; 
    
}
.subscription_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 97px;
    padding-bottom: 126px;
    gap: 30px;
}

.left_text {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text_italics {
    font-style: italic;  
}
.subscription_right {
    padding-top: 150px;
    padding-bottom: 156px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_heading { 
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%; /* 40.128px */
}
.right_text {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
}

.right_subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 39px;
}
.subscribe_right_form{
    display: flex;
    margin-top: 32px;
}
.email {
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #E1E1E1;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    width: 170px;
    height: 36px;
    text-align: center;
}
.subscribe_button {
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #F16D7F;
}
.subscribe_button:hover {
    box-shadow: 1px 1px 5px F16D7F;
    transform: scale(1.1);
}

.footer {
    background-color:  #222224;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:  30px;
    padding-bottom: 30px; 
}
.rights {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1E1E1;
    padding: 8px;
}
.icons:hover {
    background-color: #F16D7F;
}
.icons:hover svg path {
    fill:#FFFFFF;
}
 

@media(max-width:1024px) {
    .center {
        padding-right: calc(50% - 734px/2);
        padding-left: calc(50% - 734px/2);
    }

    .category {
        grid-template-columns: repeat(3, 231px);
        grid-template-rows: 167px 116px;
        gap: 19px;
    }

    .heading_h1 {
        font-size: 44px;
    }

    .heading_h2 {
        font-size: 24px;
    }

    .catalog {
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        padding-top: 72px;
        padding-bottom: 47px;
    }

    .fetured_items {
        padding-top: 54, 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
}

@media(max-width:767px) {
    .center {
        padding-right: calc(50% - 343px/2);
        padding-left: calc(50% - 343px/2);
    }

    .mobile_version {
        display: none;
    }

    .brand {
        display: flex;
        justify-content: center;
        padding-top: 148px;
        padding-bottom: 149px;
    }

    .category {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .catalog {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .additional_information {
        display: flex;
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }
    .subscription {
        display: flex;
        justify-content: center;  
        display: flex;
        flex-direction: column;
        padding-top: 53px;
        padding-bottom: 219px;
        gap: 48px;      
    }       
    }

@media (max-width:350px) {
    .center {
        padding-right: calc(50% - 300px/2);
        padding-left: calc(50% - 300px/2);
    }

    .mobile_version {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
        gap: 40px;
    }
    }

